.chat{
	flex: 2;
	border-left: 1px solid #dddddd35;
	border-right: 1px solid #dddddd35;
	height: 100%;
	display: flex;
	flex-direction: column;
	.top{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 20px;
		border-bottom: 1px solid #dddddd35;
		img{
			width: 70px;
			height: 70px;
		}
		.texts{
			span{
				font-size: 18px;
				font-weight: 500px;
			}
			p{
				font-size: 14px;
				font-weight: 300px;
				color: #a5a5a5;
			}
		}
		.icons{

			img{
				width: 20px;
				height: 20px;
			}
		}
	}
	.center{
		flex: 1;
		padding: 20px;
		overflow: auto;
		display: flex;
		flex-direction: column;
		gap:20px;
		.recvMessage{
			display: flex;
			max-width: 70%;
			.texts{
				flex: 1;
				display: flex;
				flex-direction: column;
				gap:5px;
				p{
					padding: 20px;
					background-color: rgba(17,25,40,0.3);
					border-radius: 10px;
				}
				span{
					font-size: 10px;
				}
			}

		}
		.sentMessage{
			align-self: flex-end;
			display: flex;
			max-width: 70%;
			.texts{
				img{
					width: 100%;
					height: 300px;
					border-radius: 10px;
					object-fit: cover;
				}
				p{
					background-color: #5183fe;
					padding: 20px;
					border-radius: 10px;
				}
				span{
					font-size: 10px;
				}
			}	
		}
		img{
			width: 30px;
			height: 30px;
			border-radius: 50%;
			object-fit: cover;
		}
		.texts{
			flex: 1;
			display: flex;
			flex-direction: column;
			gap:5px;
		}

	}
	.bottom{
		padding: 20px;
		border-top: 1px solid #dddddd35;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		.icons{
			display: flex;
			gap: 20px;
			img{
				width: 20px;
				height: 20px;
				cursor: pointer;
			}
		}
		input{
			flex: 1;
			background-color: rgba(17, 25, 40, 0.5);
			border:none;
			outline: none;
			padding: 16px;
			font-size: 16px;
			color: white;
			border-radius: 15px;
		}
		.emoji{
			position: relative;
			img{
				width: 20px;
				height: 20px;
				cursor: pointer;
			}
			.pickerContainer{
				position: absolute;
				bottom: 50px;
				left: 0;
			}
		}
		.sendButton{
			background-color: #5183fe;
			color: white;
			padding: 10px 20px;
			border:none;
			border-radius: 5px;
			cursor: pointer;
		}
	}












}























